<nz-layout style="background-color: white;">
  <nz-row style="justify-content: center;">
    <nz-col style="max-width: 450px;">
      <nz-content style="background-color: white;">
        <div style="padding: 12px; border-radius: 10px; margin-top: 24px; border: 1px solid black;">
          <div>
            <div class="logo">
              <img nz-image width="200px" height="200px"
                nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" alt=""/>
            </div>
            <h5 style="text-align: center;" nz-typography>Web Admin</h5>
            <form nz-form [formGroup]="isRegister ? validateFormRegister : validateFormLogin" (ngSubmit)="isRegister ? register() : submitForm()">
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                  <nz-input-group nzPrefixIcon="user">
                    <input formControlName="username" nz-input placeholder="Username" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <nz-input-group nzPrefixIcon="lock">
                    <input formControlName="password" nz-input type="password" placeholder="Password" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <div *ngIf="isRegister">
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your first name!">
                    <nz-input-group nzPrefixIcon="user">
                      <input formControlName="firstName" nz-input type="text" placeholder="First Name" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your last name!">
                    <nz-input-group nzPrefixIcon="user">
                      <input formControlName="lastName" nz-input type="text" placeholder="Last Name" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your email!">
                    <nz-input-group nzPrefixIcon="mail">
                      <input formControlName="email" nz-input type="email" placeholder="Email" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your phone number!">
                    <nz-input-group nzPrefixIcon="phone">
                      <input formControlName="phoneNumber" nz-input type="number" placeholder="Phone Number" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <nz-form-item *ngIf="!isRegister">
                <nz-form-control>
                  <button [nzLoading]="isLoading" nz-button nzType="primary" [disabled]="!validateFormLogin.valid">Log in</button>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <button [nzLoading]="isLoading" nz-button [disabled]="isRegister ? !validateFormRegister.valid : false" (click)="isRegister ? register() : isRegister = true">Register</button>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <button *ngIf="isRegister" [nzLoading]="isLoading" nz-button (click)="isRegister = false">Back to Login</button>
                </nz-form-control>
              </nz-form-item>
            </form>
            
          </div>
        </div>
      </nz-content>
    </nz-col>
  </nz-row>
</nz-layout>
